<?xml version="1.0"?>
<launch>

  <arg name="world" default="sandisland.world" />

  <!-- Start Gazebo with the world file -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotx_gazebo)/worlds/$(arg world)"/>
    <arg name="verbose" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>

  <!-- Spawn Buoys -->
  <include file="$(find robotx_gazebo)/launch/spawn_task_buoys.launch"/>

</launch>
